@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Caveat', cursive; 
}

.header-wrapper {
    height: 80vh;
    width: 100%;
    background: linear-gradient(-45deg, #96ddf5, #237dd6, #4363b9, #561077, #270c4b);
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: backgroundTransition 8s ease-in-out infinite;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

.social-media {
    margin-top: 1rem;
    display: flex;
}

.text a {
    text-decoration: none;
    color: #237dd6;
    transition: 0.5s cubic-bezier(0.55, .025, .675, .97);
}

a:hover{
  background-color: #fff;
  color: #270c4b;  
}

@keyframes backgroundTransition {
    0% {
        background-position: 0% 80%;
    }
    50% {
        background-position: 80% 100%;
    }
    100% {
        background-position: 0% 90%;
    }
}

/* MENU HAMBURGUER */

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999; /* Vai fazer com o checkbox fique na frente dos outros elementos. */
    transition: 400ms ease-in-out;
}

.checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: white;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1){
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2){
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3){
    top: 66px;
    transform: rotate(0);
}

#toggle {
    display: none;
}

/* MENU */

.menu {
    position: absolute;
    top: 28px;
    left: 30px;
    background: transparent;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #ffffff;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu-item {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu-item ul {
    list-style-type: none;
}

.menu-item ul li a {
    margin: 10px 0;
    color: #270c4b;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}

/* ANIMAÇÃO DO MENU */
#toggle:checked + .checkbox .trace:nth-child(1){
    transform: rotate(45deg);
    background-color: #270c4b;
    top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2){
    transform: translateX(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3){
    transform: rotate(-45deg);
    background-color: #270c4b;
    top: 48px;
}

#toggle:checked + .checkbox {
    background-color: white;
}

#toggle:checked ~ .menu {
    box-shadow: 0px 0px 0px 100vmax white;
    z-index: 1;
}

#toggle:checked ~ .menu-item {
    visibility: visible;
    opacity: 1;
}


.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem 0;
}

.text {
    width: 40%;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: rgb(109, 109, 109);
}

.img-thiago {
    height: 370px;
    width: 370px;
    border-radius: 50%;
    background-image: url('/imagens/thiago.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: center;
}

/* FOOTER */
.footer {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f4480;
}

/* RESPONSIVO */
@media (max-width: 800px){
    .social-media {
        display: flex;
        flex-direction: column;
    }

    .container{
        margin-top: 0;
    }

    .card-container {
        flex-direction: column;
    }

    .container .card-container:nth-child(1), 
    .container .card-container:nth-child(3) {
        flex-direction: column-reverse;
    } 

    .card {
        height: 350px;
        width: 350px;
    }

    .card-text {
        width: 90%;
        margin-top: 2rem;
        text-align: center;
    }

    .card:hover> .card-wrapper::before {
        height: 190px;
        width: 190px;
    }
}